.productList__menu{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
}
.productList__sorting{
    display: flex;
}
.productList__sorting > select{
    border: none;
    cursor: pointer;
}

.content__number{
    padding-right: 40px;
}

.show-hide{
    color: var(--secondary-color);
    text-decoration: underline;
    cursor: pointer;
}

.productList__content{
    display: flex;
}

.content__products{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 30px;
}

.content__products__toggle{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    margin-top: 20px;
    margin-left: 10px;
}

.menu__mobileFilter{
    display: none;
}

@media (max-width:480px){
    .menu__mobileFilter{
        display: block;
    }
    .contentNumber__show-hide{
        display: none;
    }
    .productList__menu{
        justify-content: space-evenly;
    }
    .content__products{
        grid-template-columns: repeat(2,1fr);
    }
}